$bgDay: #fff5e3;
$bgNight: #3a2e27;
$textDay: #683e30;
$textNight: #fff5e3;
$navBar: #d47b4a;
$navText: #ffffff;
$mainTextDay: #e1e9f0;
$mainTextNight: #1e1e1e;
$projectDay: #ffd9c7;
$projectNight: #684132;
$photoBG: #9d6e5e;
$footer: #d5a291;
$bigDesktop: 1600px;
$smallDesktop: 1400px;
$tablet: 1280px;
$mobile: 840px;
$memberMobile: 700px;
$memberSmallMobile: 520px;
$memberXSMobile: 320px;
$smallMobile: 480px;
$xsMobile: 410px;
$xxsMobile: 300px;
